h1{
   
    color: white;
    text-transform: Uppercase;
}
p{
    color: white;
    width: 50%;
    text-align: center;
    margin-left: 25%;
}
.meme{
    
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    
    margin:10px;
}
.Img{
   
    height: 150px;
    border: 5px solid white;
}
body{
    background-color: black;
}
